//contains app related css files
.App{
    @import "Header.scss";
    
    main{
        display: flex;  //content in same lines
        // common style for all so we put it instead of Form.js
        h2{
            padding-bottom: 5px;
            // Underloine Line with colour
            border-bottom: 2px solid #ccf;
            margin-bottom: 15px;
            font-size: 1.5em;
            font-weight: 300;
        }
        @import "Form.scss";
        @import "Preview.scss";
    }
}