.Preview{
        width: 50%;
        padding: 0 15px;
        @import "BusinessCard.scss";
        text-align: center;
        h2{
               text-align: left; 
        }
        &-Wrapper {
                display: inline-block;
                margin-bottom: 15px;
        }
        &-Actions{
                button{
                        // some space between all buttons
                        margin: 5px;

                        border: 2px solid #ccf;
                        background-color: #eff;
                        // size paddings
                        padding: 5px;
                        border-radius: 5px;
                        cursor: pointer;
                        // colore for arrow pointing (hover)
                        &:hover{
                                background-color: #ccf;
                        }
                }
        }
}